{% extends "base.html" %}


{% block content %}
<!-- row -->
    <div class="nav-tabs-custom" style="padding-top:0px;padding-left:30px;">
			</div>
          <div class="row">
            <div class="form-group" style="width:90%;margin-left:5%;margin-top:1%;color: white;float: right;">
                <button class="btn btn-default" id="uploadFile"> 上传配置文件</button>
                 <button class="btn btn-default" id="reloadTable"> 刷新列表</button>
            </div>

            <div class="col-md-12">
					<div class="col-lg-12" style="width:90%;margin-left:5%;margin-top:1%">
							<table id="sensorDataTable" style="color: white;width: 90%;margin: 0px auto;"></table>
					</div>
				</div>
          </div>



{% endblock  %}

{% block scripts %}
  {{ super() }}
<script src="../static/js/business/fileManger.js" type="text/javascript"></script>
{% endblock  %}
