{% extends "base.html" %}


{% block content %}
<!-- row -->
          <div class="row">
            <div class="col-md-12">
              <div style="width:90%;height:330px;background:#2F3543; margin-left:6.1%;position:relative;">

				<div id=header style="margin-left:2%;height:260px;width:20%;background:#2E3C51;text-align:center;margin-top:2.5%;position:absolute;float:left">
				<h1>图片</h1>
				</div>
				<div id=search style="margin-left:25%;text-align:center;margin-top:2.5%;width:100%;position:absolute;">
				<div style="background:#3A4050;width:34%;position:absolute;margin-top:0%;text-align:left;line-height:100%;font-size:18px;color:#D8D9DC" ><img src="resources/image/00.png" class="sider-icon" height="63px" width="63px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;传感器编号：&nbsp;&nbsp;&nbsp;&nbsp;N011</div>
				<div style="background:#363C4C;width:34%;position:absolute;margin-top:4%;text-align:left;line-height:100%;font-size:18px;color:#D8D9DC" ><img src="resources/image/00.png" class="sider-icon" height="63px" width="63px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;传感器类型：&nbsp;&nbsp;&nbsp;&nbsp;4256210</div>
				<div style="background:#3A4050;width:34%;position:absolute;margin-top:8%;text-align:left;line-height:100%;font-size:18px;color:#D8D9DC"><img src="resources/image/00.png" class="sider-icon" height="63px" width="63px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;接口：&nbsp;&nbsp;&nbsp;&nbsp;Lww4100</div>
				<div style="background:#363C4C;width:34%;position:absolute;margin-top:12%;text-align:left;line-height:100%;font-size:18px;color:#D8D9DC" ><img src="resources/image/00.png" class="sider-icon" height="63px" width="63px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;端口：&nbsp;&nbsp;&nbsp;&nbsp;3g</div>
				</div>
				<div id=search2 style="left:50%;width:100%;float:right;margin-top:2.5%;position:absolute;margin-left:12.5%">
				<div style="background:#3A4050;width:34%;position:absolute;margin-top:0%;font-size:18px;text-align:left;color:#D8D9DC"><img src="resources/image/00.png" class="sider-icon" height="63px" width="63px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;开机时间：&nbsp;&nbsp;&nbsp;&nbsp;V.5.5单核</div>
				<div style="background:#363C4C;width:34%;position:absolute;margin-top:4%;font-size:18px;text-align:left;color:#D8D9DC"><img src="resources/image/00.png" class="sider-icon" height="63px" width="63px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;总运行时间：&nbsp;&nbsp;&nbsp;&nbsp;512MB</div>
				<div style="background:#3A4050;width:34%;position:absolute;margin-top:8%;font-size:18px;text-align:left;color:#D8D9DC"><img src="resources/image/00.png" class="sider-icon" height="63px" width="63px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;上/下限：&nbsp;&nbsp;&nbsp;&nbsp;128G</div>
				<div style="background:#363C4C;width:34%;position:absolute;margin-top:12%;font-size:18px;text-align:left;color:#D8D9DC"><img src="resources/image/00.png" class="sider-icon" height="63px" width="63px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;采集频率：&nbsp;&nbsp;&nbsp;&nbsp;V.1.0.13</div>
				</div>
			</div>
					<div class="col-lg-12" style="width:100%;margin-left:5%;margin-top:1%">
							<table id="sensorDataTable" style="color: white;width: 90%;margin: 0px auto;"></table>
					</div>
				</div>
          </div>



{% endblock  %}

{% block scripts %}
  {{ super() }}
<script src="../static/js/business/sensorDetail.js" type="text/javascript"></script>
{% endblock  %}
