{% extends "base.html" %}

{% block title %}cronSetting{% endblock %}
{% block head %}
    {{ super() }}
       <link href="../static/css/dataTables.bootstrap.min.css" rel="stylesheet">
{% endblock %}
{% block page_content %}
<div class="content-body" style="padding-top: 5px;">
    <table id="sensorDiv" style="width: 100%">
    </table>
</div>
{% block scripts %}
      {{ super() }}
      <script src="../static/js/jquery.dataTables.min.js"></script>
      <script src="../static/js/dataTables.bootstrap.js"></script>
    <script src="../static/js/bootbox.js"></script>
      <script type="text/javascript">
      $(document).ready(function() {
        $('#sensorDiv').dataTable({
            processing: true,
            searching:false,
            paging: false,
            bLengthChange:false,
            showNEntries: false,
            scrollCollapse: true,
            bInfo : false,
            destroy:true,
            ajax: "/sensorTableData",
            columns: [
                { "title":"id","data": "id","orderable":false },
                { "title":"序列号","data": "no","orderable":false },
                { "title":"传感器名称","data": "name","orderable":false },
                { "title":"采集周期","data": "cycle","orderable":false }
            ],
             columnDefs:[{
                targets: 4,
                render: function (data, type, row, meta) {
                    return '<a type="button" class="" href="#" onclick=showDetail(' + row.id + ') >查看详情</a>' +' | '+
                        '<a type="button" class="" href="#" onclick=updateSetting(' + row.id + ') >设置</a>';
                }
            },
                { "orderable": false, "targets": 4 },
            ]
        });
      });
      var  showDetail = function(val){
          alert("val:"+val)
      };
      var  updateSetting = function(val){

        var html ='<form></form>';
        bootbox.dialog({
            message: html,
            title: "修改设置",
            buttons: {
                success: {
                    className: "btn-success",
                    callback: function() {
                        alert("123");
                    }
                }
            }
        });

{#        $(".bootbox-body #dateTodo").blur(function(){#}
{#            if($("#dateTodo").val()!=""){#}
{#                $('.bootbox-body #time').removeClass("has-error");#}
{#                $('.bootbox-body .help-block').hide();#}
{#            }#}
{#        });#}
{##}
{#        $('.bootbox-body #pmdatetodoForm').bootstrapValidator();#}
{#        pmDateTodoController.auto_pm=new XiaAutoComplete(".bootbox-body .pmName",{#}
{#            repository:"preventiveMaintenance",#}
{#            column:{field:"name",title:"名称"},#}
{#            name:"preventiveMaintenance"#}
{#        });#}
{##}
{#        $(".bootbox-body .datepicker").datepicker();#}

      };
</script>
{% endblock %}

{% endblock %}